
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> Akshara</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="stylesheet" href="assets/css/styles.css">
        <script src="assets/javascript/index.js"></script>
        <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">

    </head>
    <body>

                  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <i class="fab fal fa-500px" style="margin:10px"></i>
          <a class="navbar-brand" href="#">Akshara</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="#akshara-about">About Me</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#akshara-projects">Projects</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="#">Work Experience</a>
                </li>
              </ul>
            </div>
      </nav>
<div class="jumbotron akshara-centerheader jumbotron-fluid">
  <img src="assets/images/1570278109231.jpg" height="350px" width="200px" class="profile-pic">
  <h1 class="display-4">Hi, I am Akshara!</h1>
  <p class="lead">I am doing my first year engineering in VIT!</p>
  <hr class="my-4">
</div>
<section id="akshara-about">
  <h1>About me</h1>
  <p>I'm pursuing my B-Tech in VIT-Chennai</p>
</section>
<section id="akshara-projects">
  <div id="projectsCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#projectsCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#projectsCarousel" data-slide-to="1"></li>
    <li data-target="#projectsCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active item1">
      <h1> Project 1 </h1>
    </div>
    <div class="carousel-item item2">
      <h1> Project 2 </h1>
    </div>
    <div class="carousel-item item3">
      <h1> Project 3 </h1>
  </div>
  <a class="carousel-control-prev" href="#projectsCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#projectsCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</section>

    </body>
</html>
