.akshara-centerheader {
  text-align: center;
  background-color:teal;
}
.profile-pic {
  border-radius: 50%;
}

#akshara-about{
  background-color:aqua;
}
.carousel-item {
 height: 500px;
    text-align: center;
}

.item1 {
  background-color:darkviolet;
  height: 100px;
}

.item2 {
  background-color:yellow;
  height: 100px;
}

.item3 {
  background-color:greenyellow;
  height: 100px;
}


